@model Channels.Data.Entities.Campaign

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundsNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundsNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundsRaised)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundsRaised)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteersNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteersNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOpen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOpen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSuspended)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSuspended)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingStatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingStatement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initiator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initiator.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cause)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cause.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
